/*...........................*/
/*COMPONENTS.................*/
/*...........................*/

/* Card */

.card__wrapper {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
}

.card {
  display: grid;
  grid-row-gap: 2em;
  position: relative;
  padding: 2rem;
  padding-bottom: 4rem;
  border-radius: 0.5em;
  background-color: rgb(var(--c-primary) / 0.75);
  border: 0.15rem solid rgb(var(--c-black));
  box-shadow: 0.5rem 0.5rem rgb(var(--c-dark));
  backdrop-filter: blur(0.25rem);
}

.card__icon {
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  width: 2em;
  height: 2em;
  filter: invert(80%) sepia(91%) saturate(324%) hue-rotate(344deg)
    brightness(97%) contrast(96%);
}

.card__taglist {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
  gap: 0.5em;
  list-style: none;
}
.card__taglist__item {
  background-color: rgb(var(--c-dark));
  padding: 0.15em 0.25em;
  border-radius: 0.25em;
  color: rgb(var(--c-accent));
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
}

.card__taglist__item::before {
  content: "#";
}

.card__button {
  width: 50%;
  justify-self: center;
  padding: 0.5em 1em;
  margin-block: 2rem;
  border-radius: 0.5em;
  border: 0.15rem solid rgb(var(--c-black));
  background-color: rgb(var(--c-dark));
  color: rgb(var(--c-black));
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.card__button:hover {
  background-color: rgb(var(--c-dark));
  color: rgb(var(--c-accent));
  transition: color 200ms ease-in-out, background-color 600ms ease-in-out;
}

.card__title {
  font-size: var(--fs-400);
  font-family: var(--ff-sans-mono);
  color: rgb(var(--c-black));
  text-transform: uppercase;
  font-style: italic;
  text-wrap: balance;
}

.card__answer {
  font-size: var(--fs-400);
  font-family: var(--ff-sans-mono);
  color: rgb(var(--c-accent));
  text-align: center;
  width: 75%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
}

.card__number {
  font-size: var(--fs-600);
  font-family: var(--ff-sans-mono);
  color: rgb(var(--c-accent));
  text-transform: uppercase;
  font-style: italic;
  text-shadow: -0.2rem -0.2rem 0 black;
  text-decoration: underline;
}

/* Navbar */

.navbar {
  display: flex;
  border-top: 0.15rem solid rgb(var(--c-black));
  position: fixed;
  gap: 0;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(0.25rem);
  opacity: 0.75;
}

.navbar__icon {
  width: 2em;
  height: 2em;
  filter: invert(32%) sepia(84%) saturate(2135%) hue-rotate(229deg)
    brightness(98%) contrast(94%);
}

.navbar__tab {
  display: grid;
  width: calc(100% / 3);
  place-items: center;
  height: 4rem;
}

.active {
  background-color: rgb(var(--c-primary));
}

.active > .navbar__icon {
  filter: invert(0%) sepia(0%) saturate(1406%) hue-rotate(317deg)
    brightness(100%) contrast(90%);
}

/* Header */
.header {
  padding: 1em 0;
  display: grid;
  border-bottom: 0.15rem solid rgb(var(--c-accent));
  place-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: rgb(var(--c-primary) / 0.75);
}
.header__title {
  font-size: var(--fs-700);
  font-family: var(--ff-sans-mono);
  color: rgb(var(--c-accent));
  text-transform: uppercase;
  font-style: italic;
  text-shadow: -0.2rem -0.2rem 0 black;
  text-decoration: underline;
}

/* Profile */

.profile {
  margin-inline: auto;
  width: 90%;
}

.profile > * {
  margin: 0 0 2rem;
}

.profile__card {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile__card-img {
  border-radius: 50%;
}

.profile__intro {
  margin-inline: auto;
  width: 75%;
}

@media (min-width: 768px) {
  .header {
    width: 75%;
    left: 12.5%;
    border-radius: 2rem;
  }
  .navbar__wrapper:hover,
  .navbar__wrapper:active,
  .navbar__wrapper:focus .navbar {
    transform: translateY(-9rem);
    transition: transform 1s ease-in-out 0.3s;
  }
  .navbar__handler {
    width: 75%;
    height: 4rem;
  }
  .navbar {
    margin-inline: auto;
    bottom: -6rem;
    width: 75%;
    border-radius: 2rem;
  }
  .navbar__wrapper {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 12.5%;
    transition: transform 1s ease-in-out;
  }
  .navbar__tab {
    border-radius: 1.85rem;
  }

  .card__title {
    font-size: var(--fs-600);
  }
}
