/* imports */
@import "./reset.css";
@import "./properties.css";
@import "./utilities.css";
@import "components.css";
@import "./fonts.css";

main {
  padding: 12rem 0;
}

main:hover .card {
  transform: translateY(15px);
  transition: transform 3s ease-in-out;
}
